/* Main */
.main-content {
    padding:  40px;
    display: grid;
    align-items: start;
    grid-template-columns: minmax(100px, 700px);
    justify-content: center;
}
  
.card {
    padding: 30px;
    background-color: white;
    border-radius: var(--border-radius);
    display: grid;
    grid-template-rows: min-content;
    gap: 10px;
}

.experience-box, .education-box {
    display: grid; 
}

.info-input-box {
    margin-top: 10px;
}

.list-box {
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: 2px dashed rgb(220, 220, 220);
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.list-options {
    grid-column: 1 / 3;
}

